$primary-gradient: linear-gradient(90deg, rgba(0, 0, 1, 1) 31%, rgba(229, 9, 20, 1) 100%);
$secondary-gradient: linear-gradient(170deg, rgba(0, 0, 1, 1) 46%, rgba(229, 9, 20, 1) 100%);;

$red-primary: #E50914;

$primary-text-color: #ffffff;

$primary-bg-color: #383838;
$secondary-bg-color: #212121;
$trinary-bg-color:  #ffffff;

$separator-color: #808080;


$disabled-bg-border: #999999;
$disabled-bg: #cccccc;
$disabled-text-color: #666666;