@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300');

$title-font-primary: 'Bebas Neue', cursive;
$title-font-secondary: 'Lato', sans-serif;


$price-font: 'Yanone Kaffeesatz', sans-serif;