<ng-container *ngIf="isClickedButton; then notification; else password">
</ng-container>

<ng-template #password>
  <mat-card class="card" align="center">
    <mat-card-title>Password Recovery</mat-card-title>
    <mat-card-subtitle>Type your email bellow and we'll send a link to recover <br> your password. </mat-card-subtitle>
    <mat-card-content>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Email</mat-label>
        <input 
          matInput  type="email" [formControl]="emailFormControl" />
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Invalid address email 
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="accent" [routerLink]="['/access/signin']" routerLinkActive="active ">Back</button>
      <button mat-raised-button color="warn" (click)="showNotification()" class="btn-create" [disabled]="!emailFormControl.valid">Next</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #notification>
  <mat-card class="card" align="center">
    <mat-card-title>Password Recovery</mat-card-title>
    <mat-card-subtitle>We've send a recovery link to YOU </mat-card-subtitle>
    <mat-card-content>
      <mat-card-subtitle>You should received an email shortly.</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button mat-raised-button color="warn" routerLink="/access/signin" routerLinkActive="active"
        class="btn-create">Log in</button>
    </mat-card-actions>
  </mat-card>
</ng-template>