<mat-card class="card" align="center">
  <mat-card-title>BookIT</mat-card-title>
  <mat-card-subtitle>Sign in to continue to BookIT.</mat-card-subtitle>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="loginForm.get('email').invalid &&
        loginForm.get('email').dirty">
          Invalid email address.
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPwd ? 'text' : 'password'" matInput formControlName="password">
        <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{showPwd ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="loginForm.get('password').invalid &&
        loginForm.get('password').dirty">
          Invalid password.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent" [routerLink]="['/access/forgotpassword']">Forgot Password?</button>
      <button mat-raised-button color="warn" mat-button [routerLink]="['/access/signup']"
        routerLinkActive="active">Create
        Account</button>
      <button mat-button mat-raised-button color="warn" [disabled]="!loginForm.valid">Next</button>
    </mat-card-actions>
    <div *ngIf="errors" class="">{{errors}}</div>
  </form>
</mat-card>