<div class="container">
  <div class="favorite-books-title">
    <h1>Top Book for Przemek Cichoń</h1>
  </div>
  <div class="favorite-books-cards">
    <app-books-library></app-books-library>
  </div>
  <div class="top-books-title">
    <h1>Recommended by Programmer</h1>
  </div>
  <div class="top-books-cards">
    <app-books-library></app-books-library>
  </div>
  <div class="new-books-title">
    <h1>Trending now</h1>
  </div>
  <div class="new-books-cards">
    <app-books-library></app-books-library>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>