@import 'src/styles-library/colors-variables.scss';

.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    'title1 title1 . . .'
    'content1 content1 content1 content1 content1'
    'title2 title2 . . .'
    'content2 content2 content2 content2 content2'
    'title3 title3 . . .'
    'content3 content3 content3 content3 content3';
}

@media (max-width: 1024px) {
  .container {
    min-height: 500%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr 0.1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      'title1 title1'
      'content1 content1'
      'content1 content1'
      'content1 content1'
      'title2 title2'
      'content2 content2'
      'content2 content2'
      'content2 content2'
      'title3 title3'
      'content3 content3'
      'content3 content3'
      'content3 content3';
  }
}

@media (max-width: 640px) {
  .container {
    height: 800%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr 1fr 1fr 1fr 1fr 1fr 0.2fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
      'title1'
      'content1'
      'content1'
      'content1'
      'content1'
      'content1'
      'title2'
      'content2'
      'content2'
      'content2'
      'content2'
      'content2'
      'title3'
      'content3'
      'content3'
      'content3'
      'content3'
      'content3';
  }
}

.title1 {
  grid-area: title1;
  justify-self: left;
  margin: auto 0;
}

.content1 {
  grid-area: content1;
}

.title2 {
  grid-area: title2;
  justify-self: left;
  margin: auto 0;
}

.content2 {
  grid-area: content2;
}

.title3 {
  grid-area: title3;
  justify-self: left;
  margin: auto 0;
}

.content3 {
  grid-area: content3;
}
