@import 'src/styles-library/colors-variables.scss';
@import 'src/styles-library/fonts-variables.scss';

.container {
  height: 80vh;
  margin: 3em;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  grid-template-areas: 'card1 card2 card3';
}

@media (max-width: 1024px) {
  .container {
    height: 200vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1em;
    grid-template-areas:
      'card2 card2'
      'card1 card3';
  }

  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
}
@media (max-width: 640px) {
  .container {
    height: 300vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 1em;
    grid-template-areas:
      'card1'
      'card2'
      'card3';
  }

  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
}

.wrapper-card {
  margin: 0 auto;
  display: flex;
  width: 80%;
}

h1 {
  color: $red-primary;
}

.card {
  position: relative;
  display: inline-block;
  background: $trinary-bg-color;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  flex: 1;
  margin: 8px;
  padding: 30px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  &.popular {
    margin-top: -10px;
    margin-bottom: -10px;
    .card-title {
      h3 {
        color: $red-primary;
        font-size: 22px;
      }
    }
    .card-price {
      margin: 50px;
      h1 {
        color: $red-primary;
        font-size: 60px;
      }
    }
    .card-action {
      button {
        outline: none;
        background-color: $red-primary;
        border-radius: 80px;
        color: $primary-text-color;
        font-size: 17px;
        margin-top: -15px;
        padding: 15px;
        height: 80px;
        &:hover {
          background-color: darken($red-primary, 7);
          font-size: 23px;
        }
      }
      button[disabled] {
        border: 1px solid $disabled-bg-border;
        background-color: $disabled-bg;
        color: $disabled-text-color;
        cursor: unset;
      }
    }
  }
  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}
.card-ribbon {
  position: absolute;
  overflow: hidden;
  top: -10px;
  left: -10px;
  width: 114px;
  height: 112px;
  span {
    position: absolute;
    display: block;
    width: 160px;
    padding: 10px 0;
    background-color: $red-primary;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: $primary-text-color;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    left: -35px;
    top: 25px;
    transform: rotate(-45deg);
  }
  &::before,
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid $red-primary;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  &::before {
    top: 0;
    right: 0;
  }
  &::after {
    bottom: 0;
    left: 0;
  }
}

.card-title {
  h3 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    text-transform: uppercase;
  }
  h4 {
    color: rgba(0, 0, 0, 0.6);
  }
}
.card-price {
  margin: 60px 0;
  h1 {
    font-family: $price-font;
    font-size: 46px;
  }
  span {
    color: $red-primary;
    font-family: $price-font;
    font-size: 2em;
  }
}

.card-description {
  ul {
    display: block;
    list-style: none;
    margin: 60px 0;
    padding: 0;
  }
  li {
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    margin: 0 0 15px;
    &::before {
      font-family: FontAwesome;
      content: '\f00c';
      padding: 0 5px 0 0;
      color: rgba(0, 0, 0, 0.15);
    }
  }
}

.card-action {
  button {
    outline: none;
    background: transparent;
    border: 2px solid $red-primary;
    border-radius: 30px;
    color: $red-primary;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $red-primary;
      box-shadow: 0 2px 4px darken($red-primary, 20);
      color: $primary-text-color;
      font-size: 17px;
      box-shadow: none;
    }
  }

  button[disabled] {
    border: 1px solid $disabled-bg-border;
    background-color: $disabled-bg;
    color: $disabled-text-color;
    cursor: unset;
    box-shadow: none;
  }
}
