<div class="container">
    <div class="card card1">
        <div class="card-title">
            <h3>Basic</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
        </div>
        <div class="card-price">
            <span>14 days access</span>
            <h1>
                $ 89.99$
            </h1>
        </div>
        <div class="card-description">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Pellentesque hendrerit</li>
                <li>Aliquam at orci aliquam</li>
                <li>Praesent non sapien laoreet</li>
            </ul>
        </div>
        <div class="card-action">
            <button type="button">Get Basic</button>
        </div>
    </div>
    <div class="card card2 popular">
        <div class="card-ribbon">
            <span>most popular</span>
        </div>
        <div class="card-title">
            <h3>Pro</h3>
            <h4>Maecenas ut justo molestie, pharetra arcu ac, mollis est.</h4>
        </div>
        <div class="card-price">
            <span>Year access</span>
            <h1>
                $ 249.99
            </h1>
        </div>
        <div class="card-description">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Pellentesque hendrerit</li>
                <li>Aliquam at orci aliquam</li>
                <li>Praesent non sapien laoreet</li>
            </ul>
        </div>
        <div class="card-action">
            <button type="button" (click)="addYearSubscription()">Get Pro</button>
        </div>
    </div>
    <div class="card card3">
        <div class="card-title">
            <h3>Premium</h3>
            <h4>Duis quis sem auctor, convallis felis vitae, placerat sapien.</h4>
        </div>
        <div class="card-price">
            <span>Month access</span>
            <h1>
                $ 119.98
            </h1>
        </div>
        <div class="card-description">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Pellentesque hendrerit</li>
                <li>Aliquam at orci aliquam</li>
                <li>Praesent non sapien laoreet</li>
            </ul>
        </div>
        <div class="card-action">
            <button type="button">Get Premium</button>
        </div>
    </div>
</div>
