@import 'src/styles-library/fonts-variables.scss';
@import 'src/styles-library/colors-variables.scss';

span {
    font-size: 1.5em;
    user-select: none;
}

span.it {
margin-left: 4px;
font-size: 0.8em;
font-weight: bold;
font-family: $title-font-primary;
color: $red-primary;
letter-spacing: 2px;
user-select: none;
}