@import "src/styles-library/fonts-variables.scss";
@import "src/styles-library/colors-variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgb(0, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 1, 1) 31%,
    rgba(229, 9, 20, 1) 100%
  );

div.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1em;

  span {
    font-size: 8em;
    user-select: none;
    color: white;
  }

  span.it {
    margin-left: 4px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: $title-font-primary;
    color: $red-primary;
    letter-spacing: 2px;
    user-select: none;
  }
}

.login-panel {
    min-width: 25%;
}
}