@import 'src/styles-library/fonts-variables.scss';
@import 'src/styles-library/colors-variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $primary-gradient;

  @media (max-width: 1024px) {
    height: 135%;
  }

  div.logo {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1em;

    span {
      font-size: 8em;
      user-select: none;
      color: $primary-text-color;
    }

    span.it {
      margin-left: 4px;
      font-size: 0.8em;
      font-weight: bold;
      font-family: $title-font-primary;
      color: $red-primary;
      letter-spacing: 2px;
      user-select: none;
    }

    @media (max-width: 1024px) {
      span {
        font-size: 4em;
      }

      span.it {
        font-size: 0.4em;
      }
    }
  }

  .login-panel {
    min-width: 25%;

    @media (max-width: 1024px) {
      width: 80%;
    }
  }
}

mat-card {
  min-height: 250px;
}
