
<ng-container *ngIf="isUser; then userIn; else userOut">
</ng-container>

<ng-template #userIn>
<div class="wrapper">
    <button mat-button [routerLink]="['/books']">Home</button>
    <button mat-button>Favorites Books</button>
    <button mat-button [routerLink]="['/pricing']">Pricing</button>
    <button mat-button>About</button>
</div>
</ng-template>



<ng-template #userOut>
    <div class="wrapper">
        <button mat-button [routerLink]="['/books']">Home</button>
        <button mat-button [routerLink]="['/pricing']">Pricing</button>
        <button mat-button>About</button>
    </div>
</ng-template>