@import 'src/styles-library/colors-variables.scss';
@import 'src/styles-library/fonts-variables.scss';


.wrapper {
  display: grid;
  min-height: 95%;
  width: 100%;
  background: $secondary-gradient;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 0.7fr 0.3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    'img img details details'
    'img img details details'
    'img img pricing pricing'
    'img img btns btns';

  div.img {
    grid-area: img;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: auto 0;
    -webkit-perspective: 871px;
    perspective: 871px;

    img {
      height: 80%;
      -webkit-box-shadow: -44px 33px 51px 14px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -44px 33px 51px 14px rgba(0, 0, 0, 0.75);
      box-shadow: -44px 33px 51px 14px rgba(0, 0, 0, 0.75);
      -webkit-transform: rotateX(-3deg) rotateY(18deg);
      transform: rotateX(-3deg) rotateY(18deg);
    }
  }

  .details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr repeat(2, 0.2fr) 1fr;
    margin: auto 0;
    grid-template-areas:
      'title title'
      'tags tags'
      'author pages'
      'desc desc';

    .title {
      grid-area: title;
      h1 {
        text-transform: uppercase;
      }
    }

    .tags {
      grid-area: tags;
      .tags-info {
        color: $primary-text-color;
        display: block;
        width: 100%;
        span {
          display: inline-block;
          width: auto;
          // font-size: 0.8vw;
          margin: 0 0.3vw 0 0;
          &:after {
            content: '●';
            display: inline-block;
            margin: 0 0 0 0.3vw;
            font-size: 0.8 xvw;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
            color: $separator-color;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      span {
      font-size: 1em;
    }
  }

    .pages {
      grid-area: pages;
    }

    .author {
      grid-area: author;
    }

    .descriptions {
      grid-area: desc;
    }
  }

  .pricing {
    grid-area: pricing;
    justify-content: space-evenly;
    text-align: center;
    color: $red-primary;
    font-family: $price-font;
    font-size: 3em;
  }

  .buttons {
    grid-area: btns;
    text-align: center;
    margin: auto 0;

    button {
      margin: 2em;
    }
  }
}

@media (max-width: 1024px) {
  .wrapper {
    display: grid;
    height: 150%;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr repeat(2, 2fr) 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    grid-template-areas:
      'img'
      'details'
      'details'
      'pricing'
      'btns';

    div.img {
      margin-top: 2em;
      grid-area: img;
      justify-content: center;
      text-align: center;
      position: relative;
      -webkit-perspective: 0px;
      perspective: 0px;

      img {
        height: 70%;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg);
      }
    }
  }
  .details {
    margin: 2em;
  }
}
  

