@import "./styles-library/colors-variables.scss";
@import "./styles-library/fonts-variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-bg-color;
}

p {
  font-family: $title-font-secondary;
  font-weight: 400;
  color: $primary-text-color;
  font-size: 1em;
  user-select: none;
}

h1 {
  font-family: $title-font-secondary;
  font-weight: 600;
  color: $primary-text-color;
  font-size: 1.5em;
  user-select: none;
}

h2 {
  font-family: $title-font-secondary;
  font-weight: 600;
  color: $primary-text-color;
  font-size: 1.4em;
  user-select: none;
}

h3 {
  font-family: $title-font-secondary;
  font-weight: 600;
  color: $primary-text-color;
  font-size: 1em;
  user-select: none;
}

// scrollBar
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  background-color: $primary-bg-color;
}

::-webkit-scrollbar {
  width: 0.8em;
  background-color: $primary-bg-color;
}

::-webkit-scrollbar-thumb {
  background-color: $red-primary;
  border-radius: 1em;
  background-image: -webkit-linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.5) 50%,
    transparent,
    transparent
  );
}

