<ng-container *ngIf="isClickedButton; then notification; else password">
</ng-container>

<ng-template #password>
  <mat-card class="card" align="center">
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-subtitle>Type your new password. </mat-card-subtitle>
    <form [formGroup]="resetPasswordForm">
    <mat-card-content>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>New password</mat-label>
        <input 
          matInput [type]="showPwd ? 'text' : 'password'" formControlName="password" />
          <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{showPwd ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="resetPasswordForm.get('password') && !resetPasswordForm.get('required')">
            Password must contain a letter, a numeric character, and a special character.
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>Confirm new password</mat-label>
        <input 
          matInput [type]="showConfirm ? 'text' : 'password'" formControlName="confirm" />
          <mat-icon matSuffix class="eye-icon" (click)="showConfirmPassword()">{{showConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="resetPasswordForm.get('confirm') && !resetPasswordForm.get('required')">
            Confirmation does not match password.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="warn" (click)="showNotification()" class="btn-create" [disabled]="!resetPasswordForm.valid">Next</button>
    </mat-card-actions>
</form>
  </mat-card>
</ng-template>

<ng-template #notification>
  <mat-card class="card" align="center">
    <mat-card-title>Password Changed</mat-card-title>
    <mat-card-content>
        <mat-card-subtitle>Your Password has been changed successfully!</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button mat-raised-button color="warn" routerLink="/access/signin" routerLinkActive="active"
        class="btn-create">Log in</button>
    </mat-card-actions>
  </mat-card>
</ng-template>